{% extends 'base.html' %}
{% block content %}
<!--<h1>{{heading}}</h1>-->

    <form action="addform" method="post" style="color:#A5D6D6">
        {% csrf_token %}
        Enter Question: <input type="text" name="question"><br>
        Enter Options (Comma Seperated List) : <input type="text" name="options"><br>
        Enter Answer (0,1,2,3): <input type="number" name="answer"><br>
        Enter Weightage: <input type="number" name="weightage"><br><br>
        

        <label for="level">Job Level:</label>
            <select name="levels" id="levels">
                {% for level in levels %}
                    <option>{{ level }}</option>
                {% endfor %}
        </select><br>

        <label for="skills">Skill:</label>
        <select name="skills" id="skills">
            {% for skill in skills %}
                <option>{{ skill }}</option>
            {% endfor %}
        </select><br>

        <label for="competencies">Competency:</label>
        <select name="competencies" id="competencies">
            {% for compentency in competencies %}
                <option>{{ compentency }}</option>
            {% endfor %}
        </select><br>

        <label for="topics">Topic/s:</label>
        <select name="topics" id="topics">
            {% for topic in topics %}
                <option>{{ topic }}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Add" style="background-color: #A5D6D6">
    </form>
{% endblock %}