{% extends 'base.html' %}
{% block content %}

<h1 style="color: #A5D6D6">Hello {{name}}!!</h1>
<a href="personalinfo/" style="color: #A5D6D6">Personal Information</a><BR><BR>
<a href="invite/" style="color: #A5D6D6">Invite Candidates for a Test</a><BR><BR>
    <a href="questionbank/" style="color: #A5D6D6">Manage Question Bank</a><BR><BR>

<a href="invite/view_tests" style="color: #A5D6D6">View Scheduled Tests</a><BR><BR>
    <a href="logout" style="color: #A5D6D6">Log Out</a>




{% endblock %}