<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Publicis Sapient</title>
</head>

<body bgcolor="455357">

    {% block content %}
    {% endblock %}

</body>
</html>