{% extends 'base.html' %}
{% block content %}
<!--<h1>{{heading}}</h1>-->

    <form action={% url 'edit' qToEdit=qToEdit1.id %} method="post" style="color:#A5D6D6">
        {% csrf_token %}

        Enter Question: <input type="text" name="question" value="{{ qToEdit1.question }}" ><br>
        Enter Options (Comma Seperated List) : <input type="text" name="options" value="{{ options }}"><br>
        Enter Answer (0,1,2,3): <input type="number" name="answer" value="{{ qToEdit1.answer }}"><br>
        Enter Weightage: <input type="number" name="weightage" value="{{ qToEdit1.marks }}"><br><br>
        

        <label for="level" >Job Level:</label>
            <select name="levels" id="levels" >
            <option>{{ qToEdit1.level }}</option>
                {% for level in levels %}
                    <option>{{ level }}</option>
                {% endfor %}
        </select><br>

        <label for="skills">Skill:</label>
        <select name="skills" id="skills">
        <option>{{ qToEdit1.skill }}</option>
            {% for skill in skills %}
                <option>{{ skill }}</option>
            {% endfor %}
        </select><br>

        <label for="competencies">Competency:</label>
        <select name="competencies" id="competencies">
        <option>{{ qToEdit1.competency }}</option>
            {% for compentency in competencies %}
                <option>{{ compentency }}</option>
            {% endfor %}
        </select><br>

        <label for="topics">Topic/s:</label>
        <select name="topics" id="topics">
        <option>{{ qToEdit1.topic }}</option>
            {% for topic in topics %}
                <option>{{ topic }}</option>
            {% endfor %}
        </select><br>

        <label for="isActive">Active :</label>
        <select name="isActive" id="isActive">
        {% if qToEdit1.isActive == True %}
            <option>Yes</option>
            <option>No</option>
            {% else %}
                <option>No</option>
                <option>Yes</option>
            {% endif %}
        </select><br>


        <input type="submit" value="Save" style="background-color: #A5D6D6">
    </form>
{% endblock %}