{% extends 'base.html' %}
{% block content %}

<h1 style="color: #A5D6D6">EDIT QUESTIONS!!</h1>
    <table>
<tr>
  <th>Question</th>
  <th>Job Level</th>
  <th>Skill</th>
  <th>Competency</th>
    <th>Is Active?</th>

</tr>
{% for q in questions %}
<tr>
  <th> {{ q.question }}</th>
  <th> {{ q.level }}</th>
  <th> {{ q.skill }}</th>
  <th> {{ q.competency }}</th>
    {% if q.isActive %}
    <th> Yes </th>
    {% else %}
<th> No </th>
{% endif %}
<th><a href="{% url 'editform' qToEdit=q.id %}" style="color: #A5D6D6"> Edit</a></th>



</tr>
{% endfor %}

</table>

{% endblock %}