{% extends 'base.html' %}
{% block content %}

<h1 style="color: #A5D6D6">Hello {{name}}!!</h1>
<a href="personalinfo/" style="color: #A5D6D6">Personal Information</a><BR><BR>
<a href="bquiz/" style="color: #A5D6D6">Click here to begin the quiz</a><BR><BR>
    <a href="logout" style="color: #A5D6D6">Log Out</a>


{% endblock %}