{% extends 'base.html' %}
{% block content %}
<style>
table {
    border-spacing: 15px 5px;
}
</style>
<h1 style="color: #A5D6D6">Existing Matches Found in the Database:</h1>
   <table>
<tr style="color: #A5D6D6">
  <th>User ID</th>
  <th>First Name</th>
  <th>Email</th>

</tr>
{% for u in users %}
<tr style="color: #A5D6D6">
  <th> {{ u.userid }}</th>
  <th> {{ u.firstname }}</th>
  <th> {{ u.email }}</th>
  <th><a href="{% url 'inviteOld' pk=u.userid %}" style="color: #A5D6D6"> Invite</a></th>
</tr>
{% endfor %}
</table>
<BR><BR><a href="invite-new" style="color: #A5D6D6">Invite New</a>
{% endblock %}