{% extends 'base.html' %}
{% block content %}
<h1>{{heading}}</h1>

    <form action="invite" method="post" style="color:#A5D6D6">
        {% csrf_token %}
        Enter Name: <input type="text" name="name"><br>
        Enter Email: <input type="text" name="email"><br><br>

        <label for="level">Job Level:</label>
            <select name="levels" id="levels">
                {% for level in levels %}
                    <option>{{ level }}</option>
                {% endfor %}
        </select><br>

        <label for="skills">Skill:</label>
        <select name="skills" id="skills">
            {% for skill in skills %}
                <option>{{ skill }}</option>
            {% endfor %}
        </select><br>

        <label for="competencies">Competency:</label>
        <select name="competencies" id="competencies">
            {% for compentency in competencies %}
                <option>{{ compentency }}</option>
            {% endfor %}
        </select><br>

        <label for="topics">Topic/s:</label>
        <select name="topics" id="topics">
            {% for topic in topics %}
                <option>{{ topic }}</option>
            {% endfor %}
        </select><br>
        <label for="date">Date:</label>

        <input type="date" id="date" name="date"
        value="2021-07-01" in="2021-07-01" max="2028-12-31">
        <br><br><br>


        <input type="submit" value="Invite" style="background-color: #A5D6D6">
    </form>
{% endblock %}