{% extends 'base.html' %}
{% block content %}
<h1 style="color: #A5D6D6">{{heading}}</h1>

    <form action="home" method="post" style="color: #A5D6D6">
        {% csrf_token %}
        Enter Username: <input type="text" name="user"><br>
        Enter Password: <input type="password" name="pass"><br><br>
        <input type="submit" style="background-color: #A5D6D6">
    </form>
{% endblock %}