{% extends 'base.html' %}
{% block content %}

<h1 style="color: #A5D6D6">MANAGE QUESTION BANK</h1>

<a href="{% url 'edit' qToEdit='0' %}" style="color: #A5D6D6"> Edit</a><BR><BR>
<a href="addquestion/" style="color: #A5D6D6">Add new question</a><BR><BR>
    <a href="upload/" style="color: #A5D6D6">Upload New Question Bank</a>

<!--href="editquestions/" style="color: #A5D6D6">View/Edit Questions

{% endblock %}