{% extends 'base.html' %}
{% block content %}
    <h1>Personal Information</h1>
    <form action="personal" method="post">
        {% csrf_token %}
        Enter First Name: <input type="text" name="first" value={{ first }}><br>
        Enter Middle Name: <input type="text" name="middle" value={{ middle }}><br>
        Enter Last Name: <input type="text" name="last" value={{ last }}><br>
        Enter Email Address: <input type="text" name="email" value={{ email }}><br>
        Enter Address: <input type="text" name="address" value={{ address }}><br>
        <input type="submit">

    </form>
{% endblock %}