{% extends 'base.html' %}
{% block content %}
<h3>Quiz</h3>
<form action = "results" method="post" enctype="text/plain">
    {% csrf_token %}

    Check the answer to each multiple-choice question, and click on the "Submit Answers" button to submit!
    {% for ques in questions%}

    <P>1. {{ques.question}}:<BR>
        <input type = "radio" name = "1. Option A" value="A"> {{ques.options.0}}<BR>
        <input type = "radio" name = "2. Option B" value="B"> {{ques.options.1}}<BR>
        <input type = "radio" name = "3. Option C" value="C"> {{ques.options.2}}<BR>
        <input type = "radio" name = "4. Option D" value="D"> {{ques.options.3}}<BR>    

    </P>
    {% endfor %}

    <BR>
    <BR>
    <BR>
    <BR>
    <input type="submit" value = "Submit Quiz">
    <input type = "reset" value = "Clear Answers">

</form>

{% endblock %}