{% extends 'base.html' %}
{% block content %}
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Candidate UserId</th>
    <th>Admin UserId</th>
    <th>Topic</th>
    <th>Date</th>
    <th>Questions IDs</th>
  </tr>
  {% for test in tests%}
  <tr>
    <td>{{test.id}}</td>
    <td>{{test.cUserId}}</td>
    <td>{{test.aUserId}}</td>
    <td>{{test.topic}}</td>
    <td>{{test.date}}</td>
    <td>{{test.questions}}</td>
  </tr>
  {% endfor %}
  
</table>

</body>
</html>
{% endblock %}